<!-- templates/exampleTemplate.ejs -->

<html>
  <body>
    <h1>Welcome, <%= name %>!</h1>
    <p>Thank you for joining us. Please visit our <a href="<%= url_app %>">website</a>.</p>
    <p>Check our <a href="<%= url_master_terms %>">master terms</a> and <a href="<%= url_privacy_policy %>">privacy policy</a>.</p>
  </body>
</html>
