.pageContainer {
  height: 100%;
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  padding: 1rem;
  position: relative;
  overflow-y: auto;
}

.mainContent::-webkit-scrollbar {
  width: 8px;
}

.mainContent::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 4px;
}

.mainContent::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 4px;
}

.mainContent::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

.contentWrapper {
  display: flex;
  min-height: min-content;
  overflow-x: auto;
  gap: 1rem;
  margin-bottom: 8px;
  padding-bottom: 8px;
  position: sticky;
  bottom: 0;
}

.contentWrapper::-webkit-scrollbar {
  height: 8px;
  display: block;
}

.contentWrapper::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 4px;
}

.contentWrapper::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 4px;
}

.contentWrapper::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

.phasesList {
  min-width: 230px;
  width: 230px;
  flex-shrink: 0;
}

.kanbanContainer {
  flex: 4;
  min-width: 0;
}

.kanbanBoard {
  display: flex;
  gap: 1rem;
  min-width: min-content;
}

.kanbanColumn {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  flex: 1;
}

.kanbanTasks {
  padding: 8px;
  flex: 1;
}

.kanbanWrapper {
  flex: 1;
  padding: 1px;
  position: relative;
}

.statusBadge {
  padding: 4px 12px;
  border-radius: 9999px;
  font-size: 12px;
  font-weight: 500;
}

.statusHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.taskCount {
  background-color: white;
  color: rgb(var(--color-text-700));
  border-radius: 9999px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
